

@model HRMS.Models.Employee

<h3>Add New Employee</h3>

<form method="post" class="mt-3">
    @Html.Partial("_EmployeeForm", Model)
    <div class="text-center mt-3">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
    
</form>
