

@model HRMS.Models.Employee

<h3>Edit Employee</h3>

<form method="post" class="mt-3">
    @Html.HiddenFor(m => m.Id)
    @Html.Partial("_EmployeeForm", Model)
    <button type="submit" class="btn btn-primary">Update</button>
</form>
