


@model HRMS.Models.Employee

<div class="row">
    <div class="col-md-6">
        <label>Employee Code</label>
        <input class="form-control" asp-for="EmployeeCode" />
    </div>

    <div class="col-md-6">
        <label>Name</label>
        <input class="form-control" asp-for="Name" />
    </div>

    <div class="col-md-6 mt-2">
        <label>Email</label>
        <input class="form-control" asp-for="Email" />
    </div>

    <div class="col-md-6 mt-2">
        <label>Department</label>
        <input class="form-control" asp-for="Department" />
    </div>

    <div class="col-md-6 mt-2">
        <label>Position</label>
        <input class="form-control" asp-for="Position" />
    </div>

    <div class="col-md-6 mt-2">
        <label>Salary</label>
        <input class="form-control" asp-for="Salary" type="number" />
    </div>

    <div class="col-md-6 mt-2">
        <label>Jio Tag</label>
        <input class="form-control" asp-for="JioTag" />
    </div>
</div>
