@model HRMS.Models.DashboardViewModel
@{
    ViewData["Title"] = "HR Dashboard";
}

<div class="row">
    <!-- Dashboard Cards -->
    <div class="col-12">
        <partial name="_DashboardPartial" model="Model" />
    </div>
</div>


