@model HRMS.Models.Attendance
@{

    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
@if (Model == null)
{
    <p>You have not checked in today.</p>
    <a asp-action="CheckIn" class="btn btn-success">Check In</a>
}
else
{
    <p><strong>Check-In:</strong> @Model.InTime?.ToString("dd MMM yyyy, hh:mm tt")</p>

    @if (Model.OutTime == null)
    {
        <a asp-action="CheckOut" class="btn btn-danger">Check Out</a>
    }
    else
    {
        <p><strong>Check-Out:</strong> @Model.OutTime?.ToString("dd MMM yyyy, hh:mm tt")</p>
    }
}
