.gradient-card {
    background: linear-gradient(to right, #006699, #0099cc);
    color: white;
    border-radius: 10px;
}

.status.present {
    background: #2ecc71;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
}

.status.on\ leave {
    background: orange;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
}

.status.absent {
    background: red;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
}
