@model IEnumerable<HRMS.Models.Payroll>

@{
    Layout = "_HrLayout";
}

<h2>Payroll List</h2>
<a href="/Payroll/Create" class="btn btn-primary mb-3">Add New Payroll</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Month</th>
            <th>Net Pay</th>
            <th>Date Created</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmployeeName</td>
                <td>@item.MonthYear</td>
                <td>₹@item.NetPay.ToString("N0")</td>
                <td>@item.CreatedDate.ToString("dd MMM yyyy")</td>
                <td>
                    <a href="/Payroll/GeneratePayslip/@item.Id" class="btn btn-success btn-sm">Payslip</a>
                    <a href="/Payroll/Delete/@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    <a asp-action="DownloadPayslip" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">
                        <i class="bi bi-filetype-pdf"></i> Download PDF
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
